.special-offers{
    &__items{
        display: flex;
        justify-content: space-between;
        margin-bottom: 65px;
    }
    &__item{
        background-color: #feefe2;
        max-height: 390px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__item + .special-offers__item{
        margin-left: 30px;
    }
    &__img{
        margin-bottom: 180px;
    }
    &__content{
        max-width: 330px;
        margin-left: 20px;
    }
    &__content-margin{
        margin-left: 60px;
    }
    &__title{
        @extend %title;
        font-size: 26px;
        line-height: 32px;
    }
    &__text{
        margin-top: 20px;
        color: $accent;
    }
    &__link{
        display: inline-block;
        color: $accent-top;
        padding: 22px 40px 22px 20px;
        border: 1px solid #b3b7b5;
        border-radius: 5px;
        margin-top: 35px;
    }
    &__link span{
        @extend %rubik-500;
        font-size: 15px;
        line-height: 12px;
        padding-right: 45px;
    }
    &__link:hover{
        path{
            fill: #73909d;
        }
    }
}

@media (max-width: 1200px){
    .special-offers{
        &__items{
            display: block;
        }
        &__item + .special-offers__item{
            margin-left: 0;
            margin-top: 190px;
        }
    }
}

@media (max-width: 678px){
    .special-offers{
        &__title{
            font-size: 22px;
            line-height: 28px;
        }
        &__link{
            padding: 18px 30px 18px 18px;
        }
        &__img {
            margin-bottom: 150px;
            width: 35%;
        }
    }
}

@media (max-width: 530px){
    .special-offers{
        &__content-margin{
            margin-left: 20px;
        }
    }
    .special-offers__item + .special-offers__item {
        margin-top: 110px;
    }
}

@media (max-width: 430px){
    .special-offers{
        &__img {
            margin-bottom: 0px;
        }
        &__item{
            padding: 35px 10px;
        }
        &__link{
            padding: 12px 16px 12px 12px;
            margin-top: 20px;
        }
    }
    .special-offers__item+.special-offers__item {
        margin-top: 50px;
    }
}
@media (max-width: 378px){
    .special-offers{
        &__link{
            span{
                padding-right: 14px;
            }
        }
        &__text{
            font-size: 14px;
        }
    }
}