@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header{
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 45px 0;
    }
}

.logo{
    display: flex;
    align-items: center;
    justify-content: start;
    &__text{
        padding-left: 12px;
        font-family: 'Rubik-SemiBold', sans-serif;
        font-weight: 600;
        font-size: 36px;
        line-height: 58px;
        color: $accent-top;
    }
}

.menu{
    margin-left: 130px;
    &__nav{
        display: flex;
    }
    &__nav-item + .menu__nav-item{
        padding-left: 35px;
    }
    &__nav-link{
        @extend %rubik-500;
        font-size: 15px;
        line-height: 12px;
        color: $accent-top;
        transition: all .4s;
        &:hover{
            color: rgba(163,187,200, .5);
        }
    }
}

.user-nav{
    display: flex;
    align-items: center;
    // max-height: 50px;
    &__search{
        background-color: rgba(163, 187, 200, .5);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 20px;
        position: relative;
        transition: all .4s;
        &:hover{
            background-color: rgba(201, 214, 221, 0.5);
        }
    }
    &__search-icon{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 35%;
    }
    &__basket{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 180px;
        background-color: #fcd7b6;
        border-radius: 25px 25px 25px 25px;
    }
    &__basket-line{
        width: 1px;
        height: 32px;
        background-color: #fde7d3;
    }
    &__heart,
    &__cart{
        margin: 23px 28px 13px;
        position: relative;
    }
    &__cart-num,
    &__heart-num{
        position: absolute;
        width: 16px;
        height: 16px;
        background-color: #fff;
        border-radius: 50%;
        text-align: center;
        line-height: 16px;
        font-size: 10px;
        color: #243f4d;
        top: -7px;
        right: -12px;
    }
    &__burger{
        background-color: rgba(163, 187, 200);
        width: 50px;
        height: 50px;
        margin-left: 18px;
        border-radius: 50%;
    }
    &__burger-icon{
        margin: 0 auto;
        transform: translateY(75%);
    }
}

.footer-top{
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dae4e9;
    &__item + .footer-top__item{
        margin-top: 25px;
    }
    &__contacts{
        width: 200px;
    }
    &__contact{
        margin-top: 20px;
    }
    &__contact-item,
    &__text{
        font-size: 14px;
        line-height: 24px;
        color: #7b7b7b;
        display: block;
    }
    &__contact-item{
        margin-bottom: 10px;
        transition: all .4s;
    }
    &__list-link:hover{
        color: rgba(163,187,200, .5);
    }
    &__list-link{
        font-size: 14px;
        line-height: 32px;
        color: #7b7b7b;
    }
    &__title{
        color: #1f2044;
        font-size: 16px;
        line-height: 21px;
        @extend %dmsans-700;
        margin-bottom: 18px;
        text-transform: uppercase;
    }

    &__item-nav{
        width: 170px;
    }

    &__item-form{
        max-width: 270px;
    }
    &__form{
        margin-top: 35px;
        @extend %dmsans-400;
        display: flex;
    }
    &__input{
        background-color: $bg-light;
        font-size: 14px;
        line-height: 0;
        max-width: 170px;
        width: 100%;
        border: none;
        padding: 12px 15px;
        &:focus{
            box-shadow:
                5px 5px 10px #c9c9c9,
                inset -5px -5px 8px -4px #c9c9c9,
                inset -6px -6px 8px 0 #fdfdfd,
                -5px -5px 10px #fdfdfd,
                inset 5px 5px 8px -4px #fdfdfd,
                inset 6px 6px 8px 0 #c9c9c9;
        }
        &::placeholder{
            color: #234969;
            font-size: 12px;
        }
    }
    &__button{
        padding: 12px 14px;
        line-height: 0;
        font-size: 14px;
        border: none;
        background-color: $bg-btn;
        color: #fff;
        cursor: pointer;
    }
}
.footer-bottom{
    margin: 35px 0;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 32px;
    color: #7b7b7b;
    &__nav{
        transform: translateX(14px);
    }
    &__nav-link{
        color: #7b7b7b;
    }
    &__nav-link{
        padding-right: 14px;
        transition: all .4s;
        &:hover{
            color: rgba(163,187,200, .5);
        }
    }
    &__nav-link + .footer-bottom__nav-link{
        border-left: 1px solid #7b7b7b;
        padding-left: 14px;
    }
}

.top{
    background-color: #edf1f4;
    text-align: center;
    padding: 30px 0;
    &__title{
        @extend %rubik-300;
        font-size: 36px;
        line-height: 24px;
        color: #222933;
    }
}

.top-slider{
    background-color: #fcd7b6;
        background-image: url(../images/slider-bg.png);
        background-repeat: no-repeat;
        background-position: 85% center;
    &__item{
        display: flex !important;
        justify-content: space-between;
        min-height: 745px;
    }
    &__content{
        padding-top: 220px;
        max-width: 420px;
    }
    &__image{
        height: 100%;
        align-self: center;
        margin-top: 50px;
    }
    &__title{
        @extend %rubik-500;
        font-size: 72px;
        line-height: 70px;
        color: $accent;
        margin-bottom: 35px;

        max-width: 500px;       
    }
    &__text{
        max-width: 370px;
        margin-bottom: 38px;
    }
    &__link{
        background-color: $bg-btn;
        color: #fff;
        @extend %rubik-500;
        font-size: 15px;
        line-height: 12px;
        padding: 22px 18px 22px 27px;
        display: inline-block;
        width: 200px;
    }
    &__link svg{
        margin-left: 55px;
    }
    // &__link svg:hover path{
    //     fill: #fcd7b6;
    // }
    .slick-dots{
        display: flex;
        justify-content: center;
        padding-bottom: 45px;
        li{
            margin-left: 12px;
            button{
                background: #fff;
                opacity: .3;
                border: none;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                color: $accent;
                @extend %rubik-500;
                font-size: 15px;
                line-height: .8;
                cursor: pointer;
            }
            &.slick-active{
                button{
                    opacity: 1;
                }
            }
        }
    }
}

.adv{
    background: #fef7f0;
    padding: 45px 0px;
    max-height: 170px;
    position: relative;
    margin-bottom: 70px;
    &::after{
        content: '';
        position: absolute;
        background-color: #e8e4df;
        width: 1px;
        height: 100%;
        top: 0;
        right: 33.33%;
    }
    &::before{
        content: '';
        position: absolute;
        background-color: #e8e4df;
        width: 1px;
        height: 100%;
        top: 0;
        right: 66.66%;
    }
    &__items{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        max-width: 33.33%;
        margin: 0 auto;
        position: relative;
    }
    &__item::after{
        content: '';
        position: absolute;
        background-color: rgb(163, 187, 200);
        opacity: .3;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        bottom: 35%;
        left: 12%;
    }
    &__item-delivery::after{
        bottom: 50%;
    }
      
    &__item::before{
        content: '';
        position: absolute;
        width: 50px;
        height: 50px;
        left: 0;
        top: 12px;
    }
    &__item-timework::before{
        background-image: url(../images/icon-timework.png);
        background-repeat: no-repeat;
    }
    &__item-delivery::before{
        background-image: url(../images/icon-delivery.png);
        background-repeat: no-repeat;
    }
    &__item-credit::before{
        background-image: url(../images/icon-credit.png);
        background-repeat: no-repeat;
    }
    &__item-title{
        color: #414141;
        @extend %dmsans-700;
        font-size: 18px;
        line-height: 40px;
    }
    &__item-title,
    &__item-text{
        margin-left: 75px;
    }
    &__item-text{
        max-width: 220px;
        color: #585858;
        @extend %dmsans-400;
        font-size: 16px;
        line-height: 30px;
    }
      
}
p.adv__item-text.item-text--width{
    max-width: 200px;
}

.stock{
    &__inner{
        text-align: center;
    }
    &__inner-title{
        @extend %title;
        margin-bottom: 35px;
    }
    &__filter-btn{
        margin-bottom: 75px;
    }
    &__btn{
        @extend %filter-btn;
        &.mixitup-control-active{
            color: $title;
        }
    }
    &__btn + .stock__btn{
        margin-left: 30px;
    }

    &__content{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
        margin-bottom: 180px;
    }
    &__item{
        background-color: #fff;
        max-width: 100%;
        padding: 50px 0 35px;
        border-radius: 10px;
        height: 380px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        position: relative;
        transition: all .5s;
        &:nth-child(1),
        &:nth-child(2){
            align-items: center;
            justify-content: center;
        }
        &:nth-child(4){
            padding-top: 75px;
        }
    }
    &__item-inner{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
    &__item-title{
        @extend %dmsans-500;
        color: $accent;
        font-size: 16px;
        line-height: 40px;
    }
    &__item-sum{
        display: block;
        color: #a3bbc8;
        @extend %dmsans-700;
    }

    &__item-hover{
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        display: none;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transition: all .5s;
    }
    &__item:hover{
        .stock__item-hover{
            display: flex;
        }
    }
    &__hover-link{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        line-height: 0;
        padding: 0;
        border: none;
        background: #fff;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        transition: all .5s;
    }
    &__hover-link:hover{
        background-color: $bg-btn;
        transform: scale(1.2);
        path{
            fill: #fff;
        }
    }
}
.special-offers{
    &__items{
        display: flex;
        justify-content: space-between;
        margin-bottom: 65px;
    }
    &__item{
        background-color: #feefe2;
        max-width: 870px;
        width: 100%;
        max-height: 390px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__item + .special-offers__item{
        margin-left: 30px;
    }
    &__img{
        margin-bottom: 180px;
    }
    &__content{
        max-width: 330px;
        margin-left: 20px;
    }
    &__content-margin{
        margin-left: 60px;
    }
    &__title{
        @extend %title;
        font-size: 26px;
        line-height: 32px;
    }
    &__text{
        margin-top: 20px;
        color: $accent;
    }
    &__link{
        display: inline-block;
        color: $accent-top;
        padding: 22px 40px 22px 20px;
        border: 1px solid #b3b7b5;
        border-radius: 5px;
        margin-top: 35px;
    }
    &__link span{
        @extend %rubik-500;
        font-size: 15px;
        line-height: 12px;
        padding-right: 45px;
    }
    &__link:hover{
        path{
            fill: #73909d;
        }
    }
}

.new-design{
    &__inner{
        text-align: center;
    }
    &__inner-title{
        @extend %title;
        margin-bottom: 35px;
    }
    &__filter-btn{
        margin-bottom: 75px;
    }
    &__btn{
        @extend %filter-btn;
        &.mixitup-control-active{
            color: $title;
        }
    }
    &__btn + .new-design__btn{
        margin-left: 30px;
    }
    &__content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 30px;
        min-height: 525px;
    }  
    &__item{
        background-color: #f8f8f8;
        background-repeat: no-repeat;
        background-position: center right;
        padding: 40px 0 0 33px;
        &:nth-child(3){
            background-position: center right 20%;
        }
        &:nth-child(5){
            background-position: center right 10%;
        }
    }
    &__title{
        display: inline-block;
        color: $title;
        @extend %dmsans-700;
        line-height: 1.2;
        width: 180px;
        font-size: 20px;
        margin-bottom: 10px;
    }
    &__subtitle{
        @extend %dmsans-700;
        color: #a3bbc8;
    }
    &__popup{
        margin: 120px 0;
        height: 500px;
        background-color: #e6e6e6;
        background-image: url(../images/new-design-popup-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.blog{
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 50px;
    }
    &__title{
        @extend %title;
    }
    &__link{
        color: #262626;
        @extend %dmsans-700;
        margin-right: 24px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 6px;
            height: 11px;
            top: 9px;
            right: -20px;
            background-image: url(../images/arrow.svg);
        }
    }
    &__items{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__item{
        max-width: 370px;
        max-height: 420px;
        width: 100%;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        position: relative;
        margin-bottom: -170px;
    }
    &__item + .blog__item{
        margin-left: 30px;
    }
    &__item-img{
        width: 100%;
        object-fit: cover;
        img{
            height: 250px;
        }
    }
    &__item-link{
        position: absolute;
        top: 53%;
        left: 30px;
        transform: translateY(50%);
        padding: 3px 30px;
        background-color: rgb(163, 187, 200);
        border-radius: 12px;
        line-height: 20px;
        font-size: 12px;
        @extend %poppins-700;
        color: #fff;
    }
    &__item-text{
        padding: 35px 32px 15px 30px;
        height: 170px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__item-titlelink{
        color: #262626;
        .blog__item-title{
            @extend %dmsans-500;
            font-size: 18px;
            line-height: 1.2;
            
        }

    }
    &__item-info{
        display: flex;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            top: -18px;
            right: 0;
            height: 1px;
            width: 315px;
            background-color: #e0e0e0;
        }
    }
    &__item-date,
    &__item-author{
        padding-left: 15px;
        font-size: 12px;
        line-height: 30px;
        color: #222933;
        position: relative;
        text-transform: uppercase;
        &::before{
            content: '';
            position: absolute;
            top: 8px;
            left: -3px;
            width: 12px;
            height: 12px;
        }
    }
    &__item-date::before{
        background-image: url('../images/icons/time.svg');
    }
    &__item-author::before{
        background-image: url('../images/icons/user.svg');
    }
    &__item-author{
        margin-left: 44px;
    }
}


  
.partners{
    background: $bg-light;
    &__block{
        height: 430px;
        text-align: center;
        padding-bottom: 88px;
    }
    &__list{
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        height: 100%;
    }
}


// Section   'Log in'

.modal{
    padding: 120px 0;
    &__form{
        max-width: 480px;
        margin: 0 auto;
    }
    &__label{
        font-size: 14px;
        color: #436372;
        display: block;
        margin-bottom: 20px;
    }
    &__input{
        display: block;
        width: 100%;
        height: 60px;
        border: 1px solid #f6f6f6;
        padding: 15px;
        margin-top: 4px;
    }
    &__btn{
        display: block;
        width: 100%;
        color: #fffefe;
        @extend %rubik-500;
        font-size: 18px;
        padding: 18px 0;
        margin: 30px 0;
        background-color: $bg-btn;
        text-align: center;
        cursor: pointer;
        border: none;
        transition: all .4s;
        &:hover{
            background-color: #edf1f4;
            color: #222933;
        }
    }
    &__check-blok{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    &__label-check,
    &__recovery{
        font-size: 14px;
        line-height: 48px;
        color: #436372;
    }
    &__recovery-link{
        padding-top: 30px;
        display: inline-block;
        width: 100%;
        text-align: center;
        border-top: 1px solid #f6f6f6;
        font-size: 14px;
        color: #436372;
        line-height: 24px;
    }
    &__button{
        margin-top: 22px;
        display: block;
        text-align: center;
        border: 1px solid $bg-btn;
        font-size: 18px;
        @extend %rubik-500;
        color: $accent;
        padding: 15px 0 18px;
    }
}


// Page 404

.page-404{
    margin-top: 90px;
    height: 100%;
    background-image: url(../images/404.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    &__title{
        font-size: 36px;
        @extend %rubik-600;
        color: $accent;
        margin-bottom: 25px;
    }
    &__text{
        max-width: 570px;
        margin: 0 auto;
        @extend %rubik-500;
        font-size: 18px;
    }
}

// Page About Us

.about{
    &__inner{
        padding: 120px 0;
        display: flex;
    }
    &__content{
        padding: 80px 0 0 50px;
    }
    &__subtitle{
        display: flex;
        align-items: center;
        margin-bottom: 48px;
    }
    &__subtitle-text{
        padding-top: 20px;
        padding-left: 30px;
        color: $accent;
    }
    &__subtitle-number{
        color: #a3bbc8;
        @extend %rubik-700;
        font-size: 140px;
    }
    &__desc-title{
        @extend %dmsans-700;
        font-size: 36px;
        line-height: 32px;
        color: $accent;
        margin-bottom: 45px;
    }
    &__desc{
        position: relative;
        &::after{
            position: absolute;
            content: '';
            height: 1px;
            width: 500px;
            background-color: rgb(9, 49, 111);
            opacity: 0.102;
            bottom: 0;
        }
    }
    &__desc-text{
        color: $accent;
        padding-bottom: 65px;
    }

    &__progress{
        padding-top: 30px;
    }
    &__progress-list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:first-child{
            .about__progress-project::after{
                display: none;
            }
        }
        
    }
    &__progress-item{
        max-width: 170px;
        padding-left: 58px;
        
        position: relative;
        &::before{
            content: '';
            position: absolute;
            left: 1px;
            top: 10px;
        }
        &::after{
            position: absolute;
            content: '';
            width: 1px;
            height: 81px;
            background-color: rgb(9, 49, 111);
            opacity: 0.102;
            left: -28px;
            top: -3px;
        }
        
    }
    &__progress-project::before{
        background-image: url(../images/icons/about-icon1.svg);
        width: 36px;
        height: 38px;
    }
    &__progress-revenue::before{
        background-image: url(../images/icons/about-icon2.svg);
        width: 43px;
        height: 39px;
    }
    &__progress-awards::before{
        background-image: url(../images/icons/about-icon3.svg);
        width: 41px;
        height: 40px;
        top: 10px;
    }
    &__progress-title{
        @extend %dmsans-700;
        color: $accent;
        line-height: 38px;
        font-size: 36px;
    }
    &__progress-text{
        color: #4c4c4c;
        @extend %dmsans-700;
        font-size: 16px;
        line-height: 17px;
        padding-left: 5px;
    }

    &__adv{
        background-color: rgb(252, 215, 182);
        padding: 80px 0;
    }
    &__adv-list{
        display: flex;
        justify-content: space-around;
        text-align: center;
        flex-wrap: wrap;
    }
    &__adv-item{
        padding-top: 80px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            right: 30%;
        }
    }
    &__adv-statistic::before{
        background-image: url(../images/icons/adv1.svg);
        width: 73px;
        height: 59px;
    }
    &__adv-delivery::before{
        background-image: url(../images/icons/adv2.svg);
        width: 72px;
        height: 51px;
    }
    &__adv-time::before{
        background-image: url(../images/icons/adv3.svg);
        width: 78px;
        height: 64px;
    }
    &__adv-store::before{
        background-image: url(../images/icons/adv4.svg);
        width: 60px;
        height: 63px;
    }
    &__adv-title{
        @extend %dmsans-700;
        font-size: 36px;
        line-height: 32px;
        color: $accent;
        margin-bottom: 20px;
    }
    &__adv-text{
        @extend %dmsans-700;
        font-size: 18px;
        line-height: 32px;
        color: $accent;
    }
}

.team{
    padding: 120px 0 60px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__desc{
        max-width: 310px;
    }
    &__title{
        @extend %dmsans-700;
        font-size: 36px;
        line-height: 32px;
        color: $accent;
        margin-bottom: 30px;
    }
    &__text{
        color: $accent;
        margin-bottom: 40px;
    }
    &__link{
        @extend %poppins-600;
        color: #fff;
        font-size: 15px;
        line-height: 55px;
        border-radius: 5px;
        background-color: $bg-btn;
        padding: 18px 58px 18px 18px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 15px;
            height: 11px;
            right: 25px;
            top: 22px;
            background-image: url(../images/icons/arrow-light.svg);
        }
    }
    &__items{
        max-width: 780px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0 30px;
    }
    &__item{
        max-width: 370px;
    }
    &__author{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
        max-width: 325px;
        transform: translateY(-50%);
    }
    &__author-box{
        padding: 26px 25px;
    }
    &__author-name{
        @extend %dmsans-700;
        color: $accent;
        font-size: 22px;
        line-height: 26px;
    }
    &__author-text{
        color: #565872;
    }
    &__author-links{
        display: flex;
    }
    &__link-insta,
    &__link-google{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgb(246, 246, 246);
        text-align: center;
        svg{
            transform: translateY(50%);
        }
        &:hover{
            background-color: $bg-light;
        }
    }
    &__link-insta{
        margin-right: 10px;
    }
}

  
  

























  

















@import 'media';