.new-design{
    &__inner{
        text-align: center;
    }
    &__inner-title{
        @extend %title;
        margin-bottom: 35px;
    }
    &__filter-btn{
        margin-bottom: 75px;
    }
    &__btn{
        @extend %filter-btn;
        &.mixitup-control-active{
            color: $title;
        }
    }
    &__btn + .new-design__btn{
        margin-left: 30px;
    }
    &__content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;
        min-height: 525px;
    }  
    &__item{
        background-color: #f8f8f8;
        background-repeat: no-repeat;
        background-position: center right;
        padding: 40px 0 0 33px;
        &:nth-child(3){
            background-position: center right 20%;
        }
        &:nth-child(5){
            background-position: center right 10%;
        }
    }
    &__title{
        display: inline-block;
        color: $title;
        @extend %dmsans-700;
        line-height: 1.2;
        width: 180px;
        font-size: 20px;
        margin-bottom: 10px;
    }
    &__subtitle{
        @extend %dmsans-700;
        color: #a3bbc8;
    }
    &__popup{
        margin: 120px 0;
        height: 500px;
        background-color: #e6e6e6;
        background-image: url(../images/new-design-popup-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}