<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/product-list.min.css">
    <title>Document</title>
</head>

<body>

    {% include "app/moduls/_header/_header.html" %}
    <main class="main">
        {% include "app/moduls/_top/_top.html" %}

        {% include "app/moduls/_product-list/_product-list1.html" %}
        
        {% include "app/moduls/_partners/_partners-small.html" %}
    </main>
    {% include "app/moduls/_footer/_footer.html" %}

    <script src="js/main.min.js"></script>
</body>

</html>