.contacts{
    &__inner{
        padding: 120px 0;
    }
    &__top{
        margin-bottom: 120px;
    }
    &__subtitle{
        @extend %poppins-700;
        color: $bg-btn;
        line-height: 20px;
        text-align: center;
    }
    &__title{
        color: #436372;
        font-size: 35px;
        line-height: 57px;
        @extend %dmsans-700;
        margin-bottom: 66px;
        text-align: center;
    }
    &__items{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        width: 370px;
        background-color: #fbfbfb;
        padding: 70px 0;
        text-align: center;
    }
    &__item--active{
        border: 2px solid $bg-btn;
        span{
            background-color: $bg-btn;
        }
    }
    &__item-img{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        border-radius: 20px;
        background-color: #fff;
        box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
        width: 80px;
        height: 80px;
        margin-bottom: 60px;
    }
    &__item-title{
        color: #222;
        font-size: 20px;
        line-height: 26px;
        @extend %dmsans-700;
        margin-bottom: 25px;
    }
    &__item-text{
        color: #565872;
        a{
            color: #565872;
            display: block;
        }
    }
    &__box{
        display: flex;
    }
    &__form{
        max-width: 620px;
        margin-right: 50px;
    }
    &__formbox{
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    }
    &__formbox-input{
        height: 50px;
        width: 300px;
    }
    
    &__formbox-textarea,
    &__formbox-input{
        position: relative;
        &::after{
            content: '';
            position: absolute;
            right: 25px;
        }
    }
    &__formbox-input--email{
        margin-left: 20px;
    }
    &__formbox-input--user::after{
        top: 19px;
        width: 14px;
        height: 13px;
        background-image: url(../images/icons/user-accent.svg);
    }
    &__formbox-input--email::after{
        top: 22px;
        width: 18px;
        height: 12px;
        background-image: url(../images/icons/email.svg);
    }
    &__formbox-textarea--message::after{
        top: 16px;
        width: 18px;
        height: 14px;
        background-image: url(../images/icons/message.svg);
    }
    &__form-input{
        height: 100%;        
    }
    &__formbox-textarea{
        margin-bottom: 20px;
    }
    &__form-textarea{
        height: 175px;
    }
    &__form-textarea,
    &__form-input{
        width: 100%;
        resize: none;
        padding: 10px 45px 10px 20px;
        border: none;
        background-color: #fafafa;
        &::placeholder{
            color: #565872;
            text-transform: uppercase;
        }
    }
    &__form-btn{
        width: 200px;
        @extend %poppins-600;
        font-size: 15px;
        line-height: 50px;
        color: #fff;
        background-color: $bg-btn;
        border: none;
        border-radius: 5px;
        text-transform: uppercase;
        cursor: pointer;
        text-align: center;
    }
}

@media (max-width: 1050px){
    .contacts{
        &__inner{
            padding: 70px 0;
        }
        &__top{
            margin-bottom: 70px;
        }
        &__title{
            margin-bottom: 38px;
        }
        &__items{
            display: block;
        }
        &__item{
            width: 100%;
            text-align: left;
            padding: 20px 36px;
        }
        &__item-title{
            margin-bottom: 20px;
        }
        &__item-img{
            margin: 0 0 20px;
        }
        &__box{
            display: block;
        }
        &__form{
            max-width: 100%;
            width: 100%;
            margin-bottom: 40px;
            iframe{
                width: 800px;
            }
        }
        &__formbox{
            display: block;
            margin-bottom: 0;
        }
        &__formbox-input--email{
            margin-left: 0;
        }
        &__formbox-input{
            margin-bottom: 25px;
            width: 100%;
        }
    }
    #map{
        width: 250px;
    }
}

@media (max-width: 530px){
    .contacts{
        &__box{
            max-width: 100%;
            iframe{
                max-width: 320px;
                height: 230px;
            }
        }
    }
}

@media (max-width: 378px){
    .contacts{
        &__box{
            iframe{
                display: none;
            }
        }
    }
}